{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<body>
<h1>SPAM DETECTOR</h1>
<p>
    This spam detector allows you to check text strings for spam. To check, paste the text in the text book below and click submit.
</p>
<br>

    <form method="POST" action="/response">
        Test for Spam: <input type="text" name="test" required><br>
        <br>
        <input type="submit" value="Submit">
    
    </form>
    
{% if name %}
<h2>{{name}} </h2>
{% endif %}


</body>


{% endblock %}